/* This is the stylsheet for MY WEBSITE. For portal page, see it261 -> css -> style.css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: plum;
    padding: 20px 0px;
}

.inner-header {
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
}

#logo {
    width: 200px;
    float: left;
}

nav ul {
    float: right;
    margin-top: 30px;
    list-style-type: none;
    margin: auto;
}

nav li {
    float: left;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
}

#wrapper {
    max-width: 1200px;
    margin: 20px auto;
    clear: both;
    overflow: hidden;
}

#hero {
    background: paleturquoise;
    margin-bottom: 20px;
}

#hero img {
    margin: 0px auto;
}

main {
    width:62%;
    background: lightblue;
    float: left;
}

aside {
    width: 35%;
    background:rgb(23, 209, 209);
    float: right;
}

footer {
    height: 60px;
    background: lightgray;
    clear: both;
    line-height: 60px;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin: 0px 15px;
}

img {
    max-width: 100%;
    margin: auto;
}

/* typography */
p {
    margin-bottom: 20px;
    line-height: 1.4;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h1, h2, h3 {
    margin-bottom: 10px;
    font-family: serif;
}